<ion-view title="Tambah Provider">
    <ion-pane>
        <ion-side-menus enable-menu-with-back-views="true">
            <ion-side-menu-content>
                <ion-nav-bar class="bar-stable">
                    <ion-nav-buttons side="left">
                        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
                    </ion-nav-buttons>
                </ion-nav-bar>
                <ion-content class="has-header padding">
                    <ion-list ng-controller="ProviderAddCtrl">
                        <form ng-submit="register()">
                            <div class="list card">
                                <div class="item item-image" style="text-align: center;padding-top: 10px;">
                                    <div ngf-drop ngf-select ng-model="files" class="drop-box"
                                         ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
                                         accept="image/*,application/pdf">
                                        <img ngf-src="files[0]"
                                             ngf-default-src="https://en.gravatar.com/userimage/88243764/f8ec3653f743fcb87bb78e723c6067f5.png"
                                             ngf-accept="'image/*'" style="max-width: 100px;" src='tpl/store/assets/images/default.png'>
                                        <br/>
                                        <label class="button button-small" style="margin-top: 5px;width: 100px;">Upload Gambar</label>
                                    </div>
                                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                    <br/>
                                </div>

                                <label class="item item-icon-left assertive">
                                    <input type="hidden" ng-value="imagename" ng-model="image"/>
                                    <span class="input-label">Nama</span>
                                    <input type="text" placeholder="Nama" ng-model="name"/>
                                </label>
                                <label class="item item-icon-left assertive">
                                    <span class="input-label">Email</span>
                                    <input type="text" placeholder="Email" ng-model="username"/>
                                </label>
                                <label class="item item-icon-left assertive">
                                    <span class="input-label">Password</span>
                                    <input type="password" placeholder="Password" ng-model="password"/>
                                </label>
                                <label class="item item-icon-left assertive">
                                    <span class="input-label">Alamat</span>
                                    <input type="text" placeholder="Alamat" ng-model="address"/>
                                </label>
                                <label class="item item-icon-left assertive">
                                    <span class="input-label">No Telp</span>
                                    <input type="text" placeholder="No Telp" ng-model="phone"/>
                                </label>
                                <label class="item item-icon-left assertive">
                                    <span class="input-label">Point</span>
                                    <input type="text" placeholder="Point" ng-model="point"/>
                                </label>
                                <label class="item item-input item-stacked-label" ng-if="providerAdd==true" style="background-color: #ef473a;">
                                    <span class="input-label" style="color: #fff;">Provider telah ditambahkan</span>
                                </label>
                            </div>
                            <button class="button button-block button-positive">
                                Tambah
                            </button>
                        </form>

                    </ion-list>
                </ion-content>
            </ion-side-menu-content>
            <ion-side-menu side="left" ng-include="'tpl/store/root.sidebar.html'">
            </ion-side-menu>
        </ion-side-menus>
    </ion-pane>
</ion-view>