<ion-content class="has-header padding" ng-controller="CartListCtrl">
    <ul class="list">
        <li class="item item-divider">
            Keranjang Belanja
        </li>
        <li class="item item-thumbnail-left" ng-repeat="product in cartList">
            <img src="{{product.imageurl}}"/>

            <h2><strong>{{product.product_name}}</strong></h2>
            <div style="margin: 5px 0;">
                <span ng-if="loggedin.user_id>0">{{product.product_price / active_provider.provider_point | currency : '' : 0 }} Points</span>
                <span ng-if="loggedin.user_id==0">Harus login untuk melihat point</span>
            </div>
            <button class="button button-small icon-left ion-android-cart button-stable"
                    ng-click="remove(product)">
                Batal
            </button>
        </li>
        <li class="item item-divider">
            Total
        </li>
        <li class="item">
            <div class="row">
                <div class="col col-50" style="margin: 5px 0;">{{(itemNumber) | currency : '' : 0 }} Item</div>
                <div class="col col-50" style="margin: 5px 0;text-align: right;">{{(total()) | currency : '' : 0 }} Points
                </div>
            </div>
        </li>
        <button type="button" class="button button-block button-stable" ng-click="pesan()">Pesan</button>
    </ul>
</ion-content>