<!--Created by goer on 5/21/15.
-->
<ion-view title="Order List" cache-view="false">
    <ion-pane>
        <ion-side-menus enable-menu-with-back-views="true" ng-controller="HistoryDetailCtrl">
            <ion-side-menu-content>
                <ion-nav-bar class="bar-stable">
                    <ion-nav-buttons side="left">
                        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
                    </ion-nav-buttons>
                </ion-nav-bar>
                <ion-content class="has-header padding">
                    <ul class="list">
                        <li class="item item-thumbnail-left">
                            <img src="{{order.user.image}}" />
                            <h2><strong>{{order.user.name}}</strong></h2>
                            <div style="margin: 5px 0;">Tanggal : {{order.tgl}}</div>
                            <div style="margin: 5px 0;">Barang : {{order.products.length}} Item</div>
                            <div style="margin: 5px 0;">Total : {{(total())  | currency : 'Rp ' : 0 }}</div>
                            <div style="margin: 5px 0;">Status : {{(order.status==1)?"Approved":"Not Approved"}}</div>
                        </li>
                        <li class="item item-divider">
                            Delivery
                        </li>
                        <li class="list">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Ekspedisi</span>
                                <input type="text" placeholder="Ekspedisi" value="JNE">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Tanggal</span>
                                <input type="text" placeholder="Tanggal Pengiriman" value="2015-06-09">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">No Tracking</span>
                                <input type="text" placeholder="No Tracking" value="123456abcd">
                            </label>
                        </li>
                        <li class="item item-divider">
                            Products
                        </li>
                        <li class="item item-thumbnail-left" ng-repeat="product in order.products">
                            <img src="{{product.image}}" />
                            <h2><strong>{{product.name}}</strong></h2>
                            <div style="margin: 5px 0;">{{product.point | currency : 'Rp ' : 0 }}</div>
                            <div style="margin: 5px 0;">Jumlah : {{product.number}}</div>
                            <div style="margin: 5px 0;">Total : {{(product.point*product.number)  | currency : 'Rp ' : 0 }}</div>
                        </li>
                    </ul>

                </ion-content>
                <ion-footer-bar class="bar bar-stable">
                    <div class="buttons">
                        <button type="button" class="button button-positive ion-cash" ng-click="proses()">Proses</button>
                    </div>
                    <button type="button" class="button button-positive pull-right">Total : {{total() | currency : 'Rp. ' : 0}}</button>
                </ion-footer-bar>
            </ion-side-menu-content>
            <!--Created by goer on 5/21/15.
            -->
            <ion-side-menu side="left" ng-switch on="loggedin.role">
                <div ng-switch-when="vendor">
                    <div ng-include="'tpl/store/vendor.sidebar.html'"></div>
                </div>
                <div ng-switch-default>
                    <div ng-include="'tpl/store/user.sidebar.html'"></div>
                </div>
            </ion-side-menu>
        </ion-side-menus>
    </ion-pane>
</ion-view>