<ion-content class="has-header padding"><!--Created by goer on 5/21/15.-->
    <ion-list ng-controller="AccountCtrl">
        <form ng-submit="login()">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" ng-model="username"/>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="password"/>
            </label>
            <label class="item item-input item-stacked-label" ng-if="loginStatus==false"
                   style="background-color: #ef473a;">
                <span class="input-label" style="color: #fff;">Username atau password salah!</span>
            </label>
            <button class="button button-block button-positive" ng-if="loggedin.user_id==0">
                Login
            </button>
            <button class="button button-block button-positive" type="button" ng-click="logout()"
                    ng-if="loggedin.user_id>0">
                Logout
            </button>
            <a class="button button-block button-positive" href="#/home/daftar">Daftar Baru</a>
        </form>

    </ion-list>
</ion-content>
