<style>
    .rn-carousel-indicator .icon.active {
        color: #FFFF00;
    }
</style>


<ion-nav-bar class="bar-stable" align-title="left">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title style="padding-left: 30px;">
        TUKAR POINT
    </ion-nav-title>
</ion-nav-bar>
<ion-content class="has-header padding">

    <div ng-controller="ProductListCtrl">
        <ul class="list">
            <li class="item" style="height:300px;text-align: center;">
                <ul rn-carousel class="" rn-carousel-index="carouselIndex22" style="height: 230px;"
                    rn-carousel-auto-slide rn-carousel-buffered>
                    <li ng-repeat="cList in carouselLists">
                        <div class="layer" style="position:relative;">
                            <img src="{{cList.imageurl}}" class="image-display"/>
                        </div>
                    </li>
                </ul>
                <div class="rn-carousel-indicator custom-indicator">
                                    <span ng-repeat="cList in carouselLists"
                                          ng-class="{active: $index==$parent.carouselIndex22 }" class="icon ion-star"
                                          ng-click="$parent.carouselIndex22 = $index"> </span>
                </div>
            </li>
            <li class="item item-divider">
                Product Terbaik
            </li>
            <li class="item">
                <ion-slide-box style="height: 300px;">
                    <ion-slide ng-repeat="product in products" ng-if="$index%2==0" style="width: 100%;;">
                        <div class="row">
                            <div class="col col-50" ng-if="$index<products.length" style="text-align: center;"
                                 ui-sref="home.product({id:products[$index].product_id})">
                                <div class="image-display-container">
                                    <img src="{{products[$index].imageurl}}" class="image-display"/>
                                </div>
                                <h2><strong>{{products[$index].product_name}}</strong></h2>

                                <div style="margin: 5px 0;">{{products[$index].product_point | currency : 'Rp ' : 0 }}
                                </div>
                            </div>
                            <div class="col col-50" ng-if="($index+1)<products.length" style="text-align: center;"
                                 ui-sref="home.product({id:products[$index+1].product_id})">
                                <div>
                                    <div class="image-display-container">
                                        <img src="{{products[$index+1].imageurl}}" class="image-display"/>
                                    </div>
                                    <h2><strong>{{products[$index+1].product_name}}</strong></h2>

                                    <div style="margin: 5px 0;">{{products[$index+1].product_point | currency : 'Rp '
                                        :0}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </li>
            <li class="item item-divider">
                Semua Product
            </li>
            <li class="item item-thumbnail-left" ng-repeat="product in products" ui-sref="home.product({id:product.product_id})">
                <img src="{{product.imageurl}}" class="image-display"/>
                <h2><strong>{{product.product_maker}}</strong></h2>
                <h3><strong>{{product.product_name}}</strong></h3>
                <div style="margin: 5px 0;">{{product.product_point | currency : 'Rp ' : 0 }}</div>
            </li>
        </ul>
    </div>
</ion-content>
