<ion-header-bar align-title="left" class="bar bar-stable" ng-controller="headerCtrl">
    <div class="buttons">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </div>
    <h1 class="title title-left">PASTIPOINT</h1>
    <div class="buttons">
        <button class="button button-icon icon ion-android-cart"
                ng-if="loggedin.user_role=='customer' || loggedin.user_role=='guest'" ui-sref="home.cart"><span class="badge badge-assertive">{{cart.length}}</span>
        </button>
        <button class="button button-icon icon ion-ios-paper" ng-if="loggedin.user_role=='customer'" ui-sref="home.history">
        </button>
    </div>
</ion-header-bar>
<div class="bar bar-stable bar-subheader item-input-inset" ng-controller="subHeaderCtrl">
    <label class="item-input-wrapper" style="border: #EEE 1px solid;">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Cari Barang" ng-change="search()" ng-model="searchQuery">
        </label>
        <button class="button button-clear">
            Cancel
        </button>
    </label>
</div>



<style>
    .rn-carousel-indicator .icon.active {
        color: #FFFF00;
    }
</style>
<div ui-view="mainContent">
    <ion-content class="has-subheader">
        <div ng-controller="ProductListCtrl">
            <ul class="list">
                <div class="item item-borderless">


                </div>
                <li class="item item-borderless" style="text-align: center;">
                    <ul rn-carousel class="" rn-carousel-index="carouselIndex22" style="height: 300px;"
                        rn-carousel-auto-slide rn-carousel-buffered>
                        <li ng-repeat="cList in carouselLists">
                            <div class="layer" style="position:relative;">
                                <img src="{{cList.imageurl}}" style="max-height: 300px;max-width: 100%;"/>
                            </div>
                        </li>
                    </ul>
                    <div class="rn-carousel-indicator custom-indicator">
                                    <span ng-repeat="cList in carouselLists"
                                          ng-class="{active: $index==$parent.carouselIndex22 }" class="icon ion-star"
                                          ng-click="$parent.carouselIndex22 = $index"> </span>
                    </div>
                </li>
                <li class="item item-divider">
                    <h2 style="float: left;"><strong>Product Terbaik</strong></h2>
                    <div style="float: right" ui-sref="home.recommend-all">
                        Lihat Semua
                        <i class="icon ion-arrow-right-c"></i>
                    </div>
                </li>
                <li class="item" style="padding: 0px;">
                    <ion-scroll direction="x">
                        <div>
                            <div ng-repeat="product in products"
                                 style="display:inline-block;width:200px;padding:10px;text-align:center;border: 1px solid #ddd;"
                                 ui-sref="home.product({id:product.product_id})">
                                <div class="image-display-container">
                                    <img src="{{product.imageurl}}" class="image-display"/>
                                </div>
                                <h2><strong>{{product.product_name}}</strong></h2>
                                <div class="price-tag" style="margin: 5px 0;"
                                     ng-if="(loggedin.user_role=='customer')||(loggedin.user_id==0)"><span
                                        ng-if="loggedin.user_id==0">Up to </span><strong>{{(product.point) |
                                    currency :
                                    '' :0}} Points</strong></div>
                                <div class="price-tag" style="margin: 5px 0;"
                                     ng-if="(loggedin.user_role!='customer')&&(loggedin.user_id>0)"><strong>{{(product.product_price)
                                    | currency : 'Rp. ' :0}}</strong></div>
                            </div>
                        </div>
                    </ion-scroll>
                </li>
                <li class="item item-divider">
                    <h2 style="float: left;"><strong>Product Baru</strong></h2>
                    <div style="float: right" ui-sref="home.new-all">
                        Lihat Semua
                        <i class="icon ion-arrow-right-c"></i>
                    </div>
                </li>
                <li class="item" style="padding: 0px;">
                    <ion-scroll direction="x">
                        <div>
                            <div ng-repeat="product in newProducts"
                                 style="display:inline-block;width:200px;padding:10px;text-align:center;border: 1px solid #ddd;"
                                 ui-sref="home.product({id:product.product_id})">
                                <div class="image-display-container">
                                    <img src="{{product.imageurl}}" class="image-display"/>
                                </div>
                                <h2><strong>{{product.product_name}}</strong></h2>

                                <div class="price-tag" style="margin: 5px 0;"
                                     ng-if="(loggedin.user_role=='customer')||(loggedin.user_id==0)"><span
                                        ng-if="loggedin.user_id==0">Up to </span><strong>{{(product.point) |
                                    currency :
                                    '' :0}} Points</strong></div>
                                <div class="price-tag" style="margin: 5px 0;"
                                     ng-if="(loggedin.user_role!='customer')&&(loggedin.user_id>0)"><strong>{{(product.product_price)
                                    | currency : 'Rp. ' :0}}</strong></div>
                            </div>
                        </div>
                    </ion-scroll>
                </li>

            </ul>
        </div>
    </ion-content>
</div>
