<ion-content class="has-header padding" ng-controller="productCategoryCtrl">
    <ion-list>
        <li class="item item-divider">Daftar Produk</li>
        <li class="item item-thumbnail-left item-icon-right" ng-repeat="product in productsList" ui-sref="home.product({id:product.product_id})">
            <img src="{{product.imageurl}}"/>
            <h2><strong>{{product.product_name}}</strong></h2>
            <div style="margin: 5px 0;">{{product.point | currency : 'Rp ' : 0 }}</div>
            <div><strong>Status: </strong>{{product.product_status==1?"Available":"Not Available"}}</div>
            <i class="icon ion-ios-arrow-right"></i>
        </li>
    </ion-list>
    <ion-infinite-scroll ng-if="!noMoreData" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
</ion-content>