<ion-view title="Product Detail">
    <ion-pane ng-controller="productDetailCtrl">
        <ion-header-bar class="bar-stable" align-title="center">
            <button class="button button-clear icon ion-chevron-left" ui-sref="store-main"></button>
            <h1 class="title">Product Detail</h1>
        </ion-header-bar>
        <ion-content>

            <img src="{{product.image}}" />


            <ion-list>

                <ion-item>
                    <label><strong>Product Name</strong>: {{product.name}}</label>
                </ion-item>
                <ion-item>
                    <label><Strong>Price</Strong>: {{product.point | currency : 'Rp.' : 0}}</label>
                </ion-item>
                <ion-item>
                    <label><strong>Status</strong>: <span ng-if="product.status==1">Available</span><span ng-if="product.status==0">Not Available</span></label>
                </ion-item>
                <ion-item>
                    <label><strong>Estimate Delivery</strong>: </label>
                </ion-item>
                <ion-item>
                    <label><strong>Description</strong>: </label>
                </ion-item>
                <ion-item>
                    <label><strong>Terms & Condition</strong>: </label>
                </ion-item>

            </ion-list>

        </ion-content>

        <ion-footer-bar class="bar bar-footer bar-stable">
            <div class="buttons">
                <button class="button button-small icon-left ion-android-cart button-positive" ng-click="add(product)">Pesan</button>
                <button type="button" class="button button-positive ion-thumbsup" style="margin-left: 5px;" ng-click="rate()">Rate</button>
                <button type="button" class="button button-positive ion-pricetag" style="margin-left: 5px;" ng-click="share()">Share</button>
            </div>
        </ion-footer-bar>


    </ion-pane>
</ion-view>