<style>
    .item-radio .radio-icon {
        font-size: 24px;
        height: 100%;
        padding: 14px;
        position: absolute;
        left: 0 !important;
        top: 0;
        visibility: hidden;
        z-index: 3;
    }

    .item-radio .item-content {
        padding-left: 64px;
        padding-right: 0;
    }

    .badge {
        z-index: 999;
    }
</style>
<ion-header-bar class="bar bar-header bar-dark"><h1 class="title">Menu</h1>
    <button ui-sref="home.store" class="button button-clear icon ion-home"></button>
</ion-header-bar>
<ion-content ng-controller="SideMenuCtrl">
    <ion-list>
        <ion-item href="#/home/login" class="item item-avatar">
            <img src="{{loggedin.user_imageurl}}"/>

            <h2>{{loggedin.user_name}}</h2>

            <p>Last Update: 12:00</p>
        </ion-item>
    </ion-list>
    <ul class="list">
        <li class="item item-divider" ng-if="loggedin.providers.length>0"><h2>Accounts</h2></li>
        <li ng-repeat="p in loggedin.providers">
            <label class="item item-radio">
                <input type="radio" ng-model="pid.value" name="pValue" ng-value="p.provider_id" ng-change="rubah(p.provider_id)">
                <div class="item-content">
                    {{p.provider_name}}
                </div>
                <i class="radio-icon ion-checkmark"></i>
                <span class="badge badge-positive">{{p.point | currency : '' : 0 }}</span>
            </label>
        </li>
        <li class="item item-divider">Cari Barang</li>
        <li class="item">
            <label class="item-input-wrapper" style="border: #EEE 1px solid;background-color: #FFF;width: 96%;">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-change="search()"
                       ng-model="data.searchQuery" type="search"
                       placeholder="Search Product">
            </label>
        </li>
        <li class="item item-divider"><h2>Shopping Cart</h2></li>
        <a class="item item-icon-left" href="#/home/cart">
            <i class="icon ion-android-cart"></i>
            Chart
            <span class="badge badge-assertive">{{itemsNumber()}}</span>
        </a>
        <li class="item item-divider"><h2>History</h2></li>
        <a class="item item-icon-left" href="#/home/history">
            <i class="icon ion-android-list"></i>
            History
        </a>
        <!--<li class="item item-divider"><h2>Price Range</h2></li>-->
        <!--<li class="item range"><i class="icon ion-ios-sunny-outline"></i>-->
        <!--<input type="range" name="price" min="0" max="100" value="33"/>-->
        <!--<i class="icon ion-ios-sunny"></i>-->
        <!--</li>-->
        <!--<li ng-click="toggleCategories()" class="item item-divider item-icon-right">-->
        <!--<h2>Categories</h2>-->

        <!--<div ng-if="tc==false"><i class="icon ion-plus"></i></div>-->
        <!--<div ng-if="tc==true"><i class="icon ion-minus"></i></div>-->
        <!--</li>-->
        <!--<div ng-if="tc==true">-->
        <!--<li ng-repeat="c in categories" class="item item-checkbox item-icon-right">-->
        <!--<label class="checkbox"><input type="checkbox" checked="true"/></label>-->

        <!--<p>{{c.name}}</p><i ui-sref="store-product-list" class="icon ion-ios-arrow-right"></i>-->
        <!--</li>-->
        <!--</div>-->
    </ul>
</ion-content>
