/* Empty. Add your own CSS if you like */
.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}
.scroll {
    min-width: 100%;
}

.product-price-before {
    text-decoration: line-through;
    font-size: 12px;
}

.product-price-after {
    color: #33cd5f;
    font-size: 16px;
}

.product-discount {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    text-align: center;
    background-color: #ff5400;
    color: #fff;
    bottom: 40px;
    left: 20px;
    font-size: 14px;
}
.muter{

}
/*.drop-box {*/
    /*background: #F8F8F8;*/
    /*border: 5px dashed #DDD;*/
    /*width: 200px;*/
    /*height: 65px;*/
    /*text-align: center;*/
    /*padding-top: 25px;*/
    /*margin: 10px;*/
/*}*/
.dragover {
    border: 5px dashed blue;
}
.image-display{
    max-width: 150px;
    max-height: 150px;
}
.image-display-container{
    /*width: 150px;*/
    height: 150px;
    text-align: center;
}

.image-presentation{
    max-width: 450px;
    max-height: 500px;
}